<div
  style="
    height: 510px;
    vertical-align: top;
    background-image: url(./assets/img/home-page/pixlr_web_chart.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;
  "
>
<!-- <h1>Book a Consultation</h1> -->
<div class = "banner_spacing"></div>

<div>
  <text class="banner_text"><b>
    Choose AWO Web Services,<br>
    for your Digital Marketing,<br>
    Web Design and Process <br>
    Management needs.<br>
    <u>Book Now</u></b>
  </text>
</div>

</div>