  <div class="footer-wrap">
    <div class="container">
      <div class="footer">
        <div class="wsite-elements wsite-footer">
          <div class="wsite-multicol">
            <div class="wsite-multicol-table-wrap">
              <table class="wsite-multicol-table">
                <tbody class="wsite-multicol-tbody">
                  <tr class="wsite-multicol-tr">
                    <td class="wsite-multicol-col" style="width:20%;">
                      <h2 class="wsite-content-title"><span class="text18">Products</span><br></h2>
                      <div class="paragraph"><a href="https://www.makello.com/solar-panels.html">Solar Panels</a> 
                        <br><a href="https://www.makello.com/plug-in-vehicles.html">Plug-In Vehicles</a> 
                        <br><a href="https://www.makello.com/energy-storage.html">Energy Storage</a>
                      </div>
                    </td>
                    <td class="wsite-multicol-col" style="width:20%;">
                      <h2 class="wsite-content-title"><span class="text18">Services</span><br></h2>
                      <div class="paragraph"><a href="https://www.makello.com/energy-analysis.html">Energy Analysis</a> 
                        <br><a href="https://www.makello.com/solar-panel-installation.html">Solar Panel Installation</a> 
                        <br><a href="https://www.makello.com/lease-to-own.html">Lease-to-Own</a> 
                        <br><a href="https://www.makello.com/cashloan.html">Cash/Loan</a> 
                        <br><a href="https://www.makello.com/savings/request-a-quote">Request A Quote</a>
                      </div>
                    </td>
                    <td class="wsite-multicol-col" style="width:20%;">
                      <h2 class="wsite-content-title"><span class="text18">Savings</span><br></h2>
                      <div class="paragraph"><a href="https://www.makello.com/savings/san-diego-solar-calculator">Solar Savings</a> 
                        <br><a href="https://www.makello.com/savings/plug-in-vehicle-calculator">Plug-In Vehicle Savings</a>
                      </div>
                    </td>
                    <td class="wsite-multicol-col" style="width:40%;">
                      <div class="wsite-multicol">
                        <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                          <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
                              <tr class="wsite-multicol-tr">
                                <td class="wsite-multicol-col" style="">
                                  <h2 class="wsite-content-title"><span class="text18">Company</span></h2>
                                  <div class="paragraph"><span style="color:#3f3f3f">Phone: </span><a href="tel:17602303788">(760) 230-3788</a>&nbsp;
                                    <br><a href="https://www.makello.com/about-us.html">About Us</a> / <a href="https://www.makello.com/contact-us.html">Contact Us</a> 
                                    <br><a href="https://www.makello.com/why-makello.html">Why Makello?</a> 
                                    <br><a href="https://www.makello.com/blog/">Blog</a> / <a href="https://www.makello.com/faqs.html">FAQs</a> 
                                    <br><a href="https://www.makello.com/solar-panel-installation/">Service Areas</a>
                                  </div>
                                </td>
                                <td class="wsite-multicol-col col-social-legal" style="text-align: center;">
                                  <div class="wsite-image wsite-image-border-none no-space">
                                    <img src="./assets/img/logo-100x100.jpg" alt="Makello company logo, inspired by solar eclipse and solar panel pattern." style="width:100px;height: 100px;">
                                  </div>
                                  <div class="paragraph mt-2">"Make it low, with Makello!"<span class="text10">TM</span> 
                                    <br>
                                  </div>
                                  <div class="wsite-social wsite-social-default">
                                    <a class="first-child wsite-social-item" href="https://www.yelp.com/biz/makello-san-diego-2" target="_blank" title="Yelp"> <i class="fa fa-yelp" aria-hidden="true"></i> </a>
                                    <a class="first-child wsite-social-item" href="https://www.facebook.com/MakelloEnergy/" target="_blank" title="Facebook"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="https://twitter.com/MakelloEnergy" target="_blank" title="Twitter"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="https://www.instagram.com/makelloenergy/" target="_blank" title="Instagram"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="https://www.linkedin.com/company/makello/?viewAsMember=true" target="_blank" title="Linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="mailto:info@makello.com" target="_blank" title="Mail"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                                    <a class="last-child wsite-social-item" href="https://www.youtube.com/channel/UCddt8oTSV5TovZyOccVWFjg?view_as=subscriber" target="_blank" title="Youtube"> <i class="fa fa-youtube" aria-hidden="true"></i> </a>
                                  </div>
                                  <div id="copyright"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="paragraph text-center"> <span class="text10" style="color:#3f3f3f">Makello is an authorized distributor for </span><span class="text10"><a href="https://www.yelp.com/biz/green-energy-epc-san-diego/" target="_blank">Green Energy EPC </a>(<a href="https://www2.cslb.ca.gov/OnlineServices/CheckLicenseII/LicenseDetail.aspx?LicNum=978836" target="_blank">CA C-10: #978836</a>)</span>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="nav mobile-nav">
    <button class="mobile-nav-toggle">
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="https://www.w3.org/2000/svg">
        <path d="M12.376 10l7.13-7.13c.656-.657.656-1.72 0-2.378-.656-.656-1.72-.656-2.377 0L10 7.622 2.87.493C2.212-.164 1.15-.164.49.492c-.656.657-.656 1.72 0 2.377L7.622 10l-7.13 7.13c-.656.656-.656 1.72 0 2.376.657.656 1.72.656 2.377 0l7.13-7.13 7.13 7.13c.656.656 1.72.656 2.376 0 .656-.656.656-1.72 0-2.377L12.376 10z" fill="currentColor" fill-rule="evenodd"></path>
      </svg>
    </button>
    <ul class="wsite-menu-default">
      <li class="wsite-menu-item-wrap">
        <a href="https://www.makello.com" class="wsite-menu-item"> <span>Home</span> </a>
      </li>
      <li class="wsite-menu-item-wrap has-submenu">
        <a class="wsite-menu-item"> <span>Products</span> </a>
        <div class="wsite-menu-wrap" style="display:none">
          <ul class="wsite-menu">
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/solar-panels.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Solar Panels </span> </a>
            </li>
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/plug-in-vehicles.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Plug-In Vehicles </span> </a>
            </li>
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/energy-storage.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Energy Storage </span> </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="wsite-menu-item-wrap has-submenu">
        <a class="wsite-menu-item"> <span>Services</span> 
        </a>
        <div class="wsite-menu-wrap" style="display:none">
          <ul class="wsite-menu">
            <li id="wsite-nav-742857498307735796" class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/energy-analysis.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Energy Analysis </span> </a>
            </li>
            <li id="wsite-nav-455589237415638238" class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/solar-panel-installation.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Solar Panel Installation </span> </a>
            </li>
            <li id="wsite-nav-271000222415290336" class="wsite-menu-subitem-wrap has-submenu">
              <a class="wsite-menu-subitem"> <span class="wsite-menu-title"> How to Buy </span><span class="wsite-menu-arrow">&gt;</span> </a>
              <div class="wsite-menu-wrap" style="display:none">
                <ul class="wsite-menu">
                  <li id="wsite-nav-468324070403348715" class="wsite-menu-subitem-wrap ">
                    <a href="https://www.makello.com/lease-to-own.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Lease-to-Own </span> </a>
                  </li>
                  <li id="wsite-nav-704996091944641086" class="wsite-menu-subitem-wrap ">
                    <a href="https://www.makello.com/cashloan.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Cash/Loan </span> </a>
                  </li>
                  <li id="wsite-nav-432901533263401808" class="wsite-menu-subitem-wrap ">
                    <a href="https://www.makello.com/savings/request-a-quote" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Request a Quote </span> </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="wsite-menu-item-wrap has-submenu">
        <a class="wsite-menu-item"> <span>Savings</span> 
        </a>
        <div class="wsite-menu-wrap" style="display:none">
          <ul class="wsite-menu">
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/savings/san-diego-solar-calculator" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Solar Savings </span> </a>
            </li>
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/savings/plug-in-vehicle-calculator" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Plug-In Vehicle Savings </span> </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="wsite-menu-item-wrap has-submenu">
        <a href="https://www.makello.com/about-us.html" class="wsite-menu-item"> <span>About Us</span> 
        </a>
        <div class="wsite-menu-wrap" style="display:none">
          <ul class="wsite-menu">
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/why-makello.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Why Makello? </span> </a>
            </li>
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/grants.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Grants </span> </a>
            </li>
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/events.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Events </span> </a>
            </li>
            <li class="wsite-menu-subitem-wrap ">
              <a href="https://www.makello.com/faqs.html" class="wsite-menu-subitem"> <span class="wsite-menu-title"> FAQs </span> </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="wsite-menu-item-wrap">
        <a href="https://www.makello.com/contact-us.html" class="wsite-menu-item"> <span>Contact</span> </a>
      </li>
      <li class="wsite-menu-item-wrap">
        <a href="https://www.makello.com/blog/" class="wsite-menu-item"> <span>Blog</span> </a>
      </li>
      <li class="wsite-menu-item-wrap">
        <a href="https://www.makello.com/solar-panel-installation/" class="wsite-menu-item"> <span>Service Areas</span> </a>
      </li>
      <li class="mobile-login wsite-menu-item-wrap">
        <span id="member-login" class="wsite-custom-membership-wrapper"></span>
      </li>
    </ul>
    <div class="wsite-phone">Phone
      <br><a href="tel:17602303788">(760) 230-3788</a>
    </div>
    <div class="wsite-search">
      <form id="wsite-header-search-form-mobile" action="https://www.makello.com/ssep/index.php" method="get">
        <input type="text" name="sr" class="wsite-search-input" autocomplete="off" placeholder="Search"><span class="wsite-search-button"><span class="wsite-search-button-inner"></span></span>
        <input type="hidden" value="Search" />
      </form>
    </div>
  </div>