  <div class="footer-wrap">
    <div class="footer-container">
      <div class="footer">
        <div class="wsite-elements wsite-footer">
          <div class="wsite-multicol">
            <div class="wsite-multicol-table-wrap">
              <table class="wsite-multicol-table">
                <tbody class="wsite-multicol-tbody"> 
                  <tr class="wsite-multicol-tr">
                    <td class="wsite-multicol-col" style="width:20%;">
                      <h2 class="wsite-content-title"><span class="text18">Products</span><br></h2>
                      <div class="paragraph">
                        <a href="#">Digital Consultation</a><br>
                        <a href="#">Self Sustainable</a> 
                        <br><a href="#">Chop Chow</a> 
                      </div>
                    </td>
                    <td class="wsite-multicol-col" style="width:20%;">
                      <h2 class="wsite-content-title"><span class="text18">Services</span><br></h2>
                      <div class="paragraph"><a href="#">Website Development</a> 
                        <br><a href="#">Web App Consulting</a> 
                        <br><a href="#">Digital Marketing</a> 
                      </div>
                    </td>
                    <td class="wsite-multicol-col" style="width:40%;">
                      <div class="wsite-multicol">
                        <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                          <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
                              <tr class="wsite-multicol-tr">
                                <td class="wsite-multicol-col" style="">
                                  <h2 class="wsite-content-title"><span class="text18">Company</span></h2>
                                  <div class="paragraph"><span style="color:#3f3f3f">Phone: </span><a href="tel:18587546183">(858) 754-6183</a>&nbsp;
                                    <br><a href="#">About Us</a> / <a href="#">Contact Us</a> 
                                    <br><a href="#">Why AWO Web Brands?</a> 
                                    <br><a href="#">Blog</a> / <a href="#">FAQs</a> 
                                    <br><a href="#">Global Projects</a>
                                  </div>
                                </td>
                                <td class="wsite-multicol-col col-social-legal" style="text-align: center;">
                                  <div class="wsite-image wsite-image-border-none no-space">
                                    <img src="../../assets/img/AWOWEBBRANDSWHITE.png" alt="AWO Web Brands logo coming soon" style="width:100px;height: 100px;">
                                  </div>
                                  <div class="paragraph mt-2">"Awok Technologies!"<span class="text10">TM</span> 
                                    <br>
                                  </div>
                                  <div class="wsite-social wsite-social-default">
                                    <!-- <a class="first-child wsite-social-item" href="https://www.yelp.com/biz/makello-san-diego-2" target="_blank" title="Yelp"> <i class="fa fa-yelp" aria-hidden="true"></i> </a> -->
                                    <a class="first-child wsite-social-item" href="https://www.facebook.com/" target="_blank" title="Facebook"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="https://twitter.com/" target="_blank" title="Twitter"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="https://www.instagram.com/g_olasubomi" target="_blank" title="Instagram"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="https://www.linkedin.com/" target="_blank" title="Linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                                    <a class="wsite-social-item" href="mailto:iamsubomi@gmail.com" target="_blank" title="Mail"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                                    <a class="last-child wsite-social-item" href="https://www.youtube.com/" target="_blank" title="Youtube"> <i class="fa fa-youtube" aria-hidden="true"></i> </a>
                                  </div>
                                  <div id="copyright"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="paragraph text-center"> <span class="text10" style="color:#3f3f3f">AWO Web Brands is a registered LLC, by the California Secretary of State</span>
          </div>
        </div>
      </div>
    </div>
  </div>