<!-- <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"  media="print" onload="this.media='all'"> -->

<div class="wrapper">
  <!-- <div class="dusk-header"> -->
    <div class="nav-wrap">
      <div class="container">
        <button class="hamburger">
          <svg width="22" height="15" viewBox="0 0 22 15" xmlns="https://www.w3.org/2000/svg">
            <g fill="currentColor" fill-rule="evenodd">
              <path d="M20.308 2.256H1.128C.505 2.256 0 1.75 0 1.128 0 .505.505 0 1.128 0h19.18c.623 0 1.128.505 1.128 1.128 0 .623-.505 1.128-1.128 1.128zM20.308 8.462H1.128C.505 8.462 0 7.956 0 7.332c0-.622.505-1.127 1.128-1.127h19.18c.623 0 1.128.505 1.128 1.128 0 .623-.505 1.13-1.128 1.13zM20.308 14.667H1.128c-.623 0-1.128-.505-1.128-1.13 0-.622.505-1.127 1.128-1.127h19.18c.623 0 1.128.505 1.128 1.128 0 .624-.505 1.13-1.128 1.13z"></path>
            </g>
          </svg> <span class="sr-only">Menu</span> 
        </button>

        <div class="logo"> <span class="wsite-logo"> <a href="#"> <img src="../../assets/img/AWOWEBBRANDSWHITE.png" alt="AWO WB LOGO"> </a> </span>
        </div> 


  <div class="nav desktop-nav">
  <ul class="wsite-menu-default">
    <li class="wsite-menu-item-wrap">
      <a href="/Custom/custom_index.html" class="wsite-menu-item"> <span>Home</span> </a>
    </li>
    <li class="wsite-menu-item-wrap">
      <a href="#" class="wsite-menu-item"> <span>About Us(WAWO)</span> </a>
    </li>
      <li class="wsite-menu-item-wrap">
        <a href="#" class="wsite-menu-item"> <span>Contact</span> </a>
      </li>
    <li class="wsite-menu-item-wrap has-submenu">
      <a class="wsite-menu-item" href="#"> <span>Services</span> </a>
      <div class="wsite-menu-wrap" style="display:none">
        <ul class="wsite-menu">
          <li id="wsite-nav-742857498307735796" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Website Development</span> </a>
          </li>
          <li id="wsite-nav-455589237415638238" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Web App Consulting </span> </a>
          </li>
          <li id="wsite-nav-455589237415638238" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Digital Marketing </span> </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="wsite-menu-item-wrap has-submenu">
        <a class="wsite-menu-item" href="#"> <span>Projects</span> </a>
        <div class="wsite-menu-wrap" style="display:none">
          <ul class="wsite-menu">
            <li class="wsite-menu-subitem-wrap has-submenu"> <a class="wsite-menu-subitem"> <span class="wsite-menu-title"> Projects </span><span class="wsite-menu-arrow">&gt;</span> </a><span class="icon-caret"></span>
              <div class="wsite-menu-wrap" style="display:none">
                  <ul class="wsite-menu">
                      <li class="wsite-menu-subitem-wrap"> <a href="#" class="wsite-menu-subitem" title="Natural Language Processing"> <span class="wsite-menu-title"> NLP </span> </a></li>
                      <li class="wsite-menu-subitem-wrap"> <a href="#" class="wsite-menu-subitem" title="Custom Map"> <span class="wsite-menu-title"> Custom Map </span> </a></li>
                  </ul>
              </div>
          </li>
            <li class="wsite-menu-subitem-wrap has-submenu"> <a class="wsite-menu-subitem"> <span class="wsite-menu-title"> Games </span><span class="wsite-menu-arrow">&gt;</span> </a><span class="icon-caret"></span>
              <div class="wsite-menu-wrap" style="display:none">
                  <ul class="wsite-menu">
                      <li class="wsite-menu-subitem-wrap"> <a href="../../Index/Pokemon/Pokemon.html" class="wsite-menu-subitem" title="Pokemon"> <span class="wsite-menu-title"> Pokemon </span> </a></li>
                      <li class="wsite-menu-subitem-wrap"> <a href="../../Index/Labs/Lab8/BlackJack.html" class="wsite-menu-subitem" title="BlackJack"> <span class="wsite-menu-title"> BlackJack </span> </a></li>
                  </ul>
              </div>
          </li>
          </ul>
        </div>
      </li>
    <li class="wsite-menu-item-wrap has-submenu">
      <a class="wsite-menu-item" href="/../../Index/index.html" > <span>Coming Soon</span> </a>
      <div class="wsite-menu-wrap" style="display:none">
        <ul class="wsite-menu">
          <li id="wsite-nav-455589237415638238" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title">FAQ </span> </a>
          </li>
          <li id="wsite-nav-455589237415638238" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title">Blog </span> </a>
          </li>
          <li id="wsite-nav-455589237415638238" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title">Careers </span> </a>
          </li>
        </ul>
      </div>
    </li>

  </ul>
  <div class="wsite-phone">Call - <a href="tel:178587546183">(858) 754-6183</a>
  </div>
  <div class="wsite-search">
    <form id="wsite-header-search-form" action="#" method="post">
      <input type="text" name="sr" maxlength="45" class="wsite-search-input" autocomplete="off" placeholder="Search"><span class="wsite-search-button"><span class="wsite-search-button-inner"></span></span>
      <input type="hidden" value="Search" />
    </form>
  </div>
</div>


<!-- <div class="site-utils">
  <a href="#" class="search-toggle">
    <svg class="icon-search" width="20" height="20" viewBox="0 0 20 20" xmlns="https://www.w3.org/2000/svg">
      <path d="M19.51 17.147l-4.344-4.345c-.023-.023-.05-.04-.075-.06.856-1.297 1.355-2.85 1.355-4.52 0-4.54-3.68-8.222-8.222-8.222S0 3.68 0 8.223c0 4.54 3.68 8.222 8.223 8.222 1.67 0 3.22-.5 4.518-1.354.023.025.04.052.062.076l4.345 4.345c.653.653 1.71.653 2.364 0 .653-.652.653-1.71 0-2.363zM8.224 13.595c-2.967 0-5.373-2.405-5.373-5.372S5.256 2.85 8.223 2.85c2.966 0 5.372 2.406 5.372 5.373s-2.406 5.372-5.372 5.372z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>
    <svg class="icon-close" width="20" height="20" viewBox="0 0 20 20" xmlns="https://www.w3.org/2000/svg">
      <path d="M12.376 10l7.13-7.13c.656-.657.656-1.72 0-2.378-.656-.656-1.72-.656-2.377 0L10 7.622 2.87.493C2.212-.164 1.15-.164.49.492c-.656.657-.656 1.72 0 2.377L7.622 10l-7.13 7.13c-.656.656-.656 1.72 0 2.376.657.656 1.72.656 2.377 0l7.13-7.13 7.13 7.13c.656.656 1.72.656 2.376 0 .656-.656.656-1.72 0-2.377L12.376 10z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>
  </a>
</div>
</div>
</div>
</div> -->

</div>
</div>
<!-- </div> -->

<!-- <div class="site-canvas">
<div class="main-wrap">
<div id="main"></div>
</div>
</div> -->


</div>




<div class="nav mobile-nav">
  <button class="mobile-nav-toggle">
    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="https://www.w3.org/2000/svg">
      <path d="M12.376 10l7.13-7.13c.656-.657.656-1.72 0-2.378-.656-.656-1.72-.656-2.377 0L10 7.622 2.87.493C2.212-.164 1.15-.164.49.492c-.656.657-.656 1.72 0 2.377L7.622 10l-7.13 7.13c-.656.656-.656 1.72 0 2.376.657.656 1.72.656 2.377 0l7.13-7.13 7.13 7.13c.656.656 1.72.656 2.376 0 .656-.656.656-1.72 0-2.377L12.376 10z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>
  </button>
  <ul class="wsite-menu-default">
    <li class="wsite-menu-item-wrap">
      <a href="#" class="wsite-menu-item"> <span>Home</span> </a>
    </li>
    <li class="wsite-menu-item-wrap has-submenu">
      <a class="wsite-menu-item"> <span>Products</span> </a>
      <div class="wsite-menu-wrap" style="display:none">
        <ul class="wsite-menu">
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Solar Panels </span> </a>
          </li>
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Plug-In Vehicles </span> </a>
          </li>
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Energy Storage </span> </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="wsite-menu-item-wrap has-submenu">
      <a class="wsite-menu-item"> <span>Services</span> 
      </a>
      <div class="wsite-menu-wrap" style="display:none">
        <ul class="wsite-menu">
          <li id="wsite-nav-742857498307735796" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Energy Analysis </span> </a>
          </li>
          <li id="wsite-nav-455589237415638238" class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Solar Panel Installation </span> </a>
          </li>
          <li id="wsite-nav-271000222415290336" class="wsite-menu-subitem-wrap has-submenu">
            <a class="wsite-menu-subitem"> <span class="wsite-menu-title"> How to Buy </span><span class="wsite-menu-arrow">&gt;</span> </a>
            <div class="wsite-menu-wrap" style="display:none">
              <ul class="wsite-menu">
                <li id="wsite-nav-468324070403348715" class="wsite-menu-subitem-wrap ">
                  <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Lease-to-Own </span> </a>
                </li>
                <li id="wsite-nav-704996091944641086" class="wsite-menu-subitem-wrap ">
                  <a href="#"class="wsite-menu-subitem"> <span class="wsite-menu-title"> Cash/Loan </span> </a>
                </li>
                <li id="wsite-nav-432901533263401808" class="wsite-menu-subitem-wrap ">
                  <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Request a Quote </span> </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="wsite-menu-item-wrap has-submenu">
      <a class="wsite-menu-item"> <span>Services</span> 
      </a>
      <div class="wsite-menu-wrap" style="display:none">
        <ul class="wsite-menu">
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Web Development </span> </a>
          </li>
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Digital Marketing </span> </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="wsite-menu-item-wrap has-submenu">
      <a href="#" class="wsite-menu-item"> <span>About Us</span> 
      </a>
      <div class="wsite-menu-wrap" style="display:none">
        <ul class="wsite-menu">
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Why AWO WB? </span> </a>
          </li>
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> Grants </span> </a>
          </li>
          <li class="wsite-menu-subitem-wrap ">
            <a href="#" class="wsite-menu-subitem"> <span class="wsite-menu-title"> FAQs </span> </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="wsite-menu-item-wrap">
      <a href="#" class="wsite-menu-item"> <span>Contact</span> </a>
    </li>
    <li class="wsite-menu-item-wrap">
      <a href="#" class="wsite-menu-item"> <span>Blog</span> </a>
    </li>
    <li class="mobile-login wsite-menu-item-wrap">
      <span id="member-login" class="wsite-custom-membership-wrapper"></span>
    </li>
  </ul>
  <div class="wsite-phone">Phone
    <br><a href="tel:8587546183">(858) 754-6183</a>
  </div>
  <div class="wsite-search">
    <form id="wsite-header-search-form-mobile" action="#" method="get">
      <input type="text" name="sr" class="wsite-search-input" autocomplete="off" placeholder="Search"><span class="wsite-search-button"><span class="wsite-search-button-inner"></span></span>
      <input type="hidden" value="Search" />
    </form>
  </div>
</div>

<br>
<br>
<br>
